@model TallinnaRakenduslikKolledz.Models.Instructor
@{
	ViewData["Title"] = "Kustuta õpetaja";
}

<h1>Kustuta õpetaja</h1>
<h3>Kas soovid kustutada @Html.DisplayFor(model => model.FullName)</h3>
<div>
	<h4>õpetaja</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.LastName)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.FirstName)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.GradesGiven)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.GradesGiven)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Height)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.Height)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.LessonsTaught)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.LessonsTaught)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.CourseAssignments)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.CourseAssignments)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.OfficeAssignments)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.OfficeAssignments)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.HireDate)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.HireDate)</dt>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="ID"/>
		<input type="submit" value="Kustuta" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>
	</form>
</div>